html, body {
    height: 100%;
}
.app-container {
    width: 100%;
    height: 100%;
    background-color: #ececec;
}
.app-container .button {
    padding: 10px;
    color: #007aff;
    border: none;
    box-shadow: 0 0 1px 1px #7B7B7B;
    background-color: #FFF;
}
.app-container .button:disabled {
    color: #7f7f7f;
}
.app-container .scrollable {
    height: 100%;
    padding-top: 110px;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #c5c5c5;
}
.app-container .view-title {
    text-align: center;
    color: #7f7f7f;
    margin: 10px 0 10px 0;
}
.app-container .app-view {
    padding: 10px;
    background-color: #e4e6e8;
    width: 100%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    overflow: scroll;
}

.app-container .field-invalid {
    border-color: #ff0000;
}

/********************************************* ADDRESS BOOK VIEW *********************/

.address-book-view header {
    position: absolute;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    width: 100%;
}

.address-book-view .btn-edit {
    float: right;
    background-color: #CCFFCC;
}
.address-book-view .btn-add {
    background-color: #CCFFFF;
}

.address-book-view .address-book-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #c5c5c5;
    overflow-y: auto;
    height: 100%;

}

.address-book-view .address-book-list .address-book-contact {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #c5c5c5;
}
.address-book-view .address-book-list .address-book-contact.selected {
    background-color: #d8eefa;
    border-color: #b6def5;
}

.address-book-view .address-book-list .address-book-contact label {
    padding: 5px 15px 5px 5px;
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    overflow: hidden;
}
.address-book-view .address-book-list .address-book-contact label:last-child {
    padding-right: 5px;
}


/********************************************* ADDRESS BOOK CONTACT VIEW *********************/

.address-book-contact-view fieldset {
    margin: 0;
    padding: 10px;
}

.address-book-contact-view label {
    display: block;
    margin-top: 10px;
    color: #7f7f7f;
}
.address-book-contact-view input {
    width: 100%;
}

.address-book-contact-view .buttons {
    padding: 10px 0 10px 0;
    text-align: center;
}
.address-book-contact-view .button.btn-delete {
    float: left;
    background-color: #FFCCCC;
}
.address-book-contact-view .button.btn-save {
    float: right;
    background-color: #CCFFCC;
}